* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background:hsl(0, 0%, 8%) ;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-size: 14px;

}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 383px;
    border-radius: 8px;
    padding: 18px 30px;
    background-color: hsl(0, 0%, 12%);
}

.profile-img{
    border-radius: 50%;
    margin: 35px;
    width: 120px;
}

.profile-name{
    font-weight: 500;
    margin-bottom: 8px;
}

.location{
    margin-bottom: 28px;
    color: hsl(75, 94%, 57%);
}

.social-media-list{
    width: 85%;
    margin: 16px;
}

.links a{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    margin: 15px 0;
    padding: 14px 30px;
    color: white;
    border-radius: 8px;
    font-weight: 600;  
}

.links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);

}